<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
          <h3>Votre commande :</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
         <ul><li *ngFor="let product of products;" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
            <a routerLink="/product/{{product._id}}"><h4> {{product.wording}} </h4></a>
            <div>
                {{product.description}}
                <p class="lead">{{product.price}}€</p>
                <form #id="ngForm" (ngSubmit)="removeProductToCommand(product._id)" novalidate>
                    <button class="btn btn-danger text-white">
                        Retirer de la commande
                    </button>
                </form>
            </div>
        </li></ul>
        <p> Total : {{total}}€</p>
        <p> TVA : 20%</p>
        <p> TTC : {{total*1.20}}€</p>
      </div>
    </div>
  </div>
</section>
<div class="espace"></div>
